@page
@model Rekordpool.Pages.Pool.IndexModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Add Track</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Track) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">Link</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                @if (SignInManager.IsSignedIn(User) && User.Identity.Name == item.AddedBy)
                {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
